.layout-container {
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  background-color: #333;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;
}

.topbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.topbar li {
  margin: 0 15px;
}

.topbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.topbar a:hover {
  background-color: #575757;
  padding: 5px 10px;
  border-radius: 5px;
}

.topbar .auth-buttons {
  display: flex;
  align-items: center; 
  margin-left: 200px; 

.topbar .auth-buttons a,
.topbar .auth-buttons button {
  color: white;
  background-color: #007bff;
  padding: 10px 26px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.topbar .auth-buttons a:hover,
.topbar .auth-buttons button:hover {
  background-color: #0056b3;
}


.topbar .auth-buttons .logout-btn {
  background-color: #dc3545;
}

.topbar .auth-buttons .logout-btn:hover {
  background-color: #c82333;
}

.content {
  padding-top: 80px;
  padding: 20px;
  flex-grow: 1;
}

:root {
  --color-active: #ff6347; 
}

.topbar a.active {
  background-color: var(--color-active);
  color: white
}
}
