.layout-container {
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  background-color: #333;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-links li {
  margin: 0 15px;
}

.navigation-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
}

.navigation-links a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.content {
  padding-top: 80px;
  padding: 20px;
  flex-grow: 1;
}

:root {
  --color-active: #ff6347;
}

.navigation-links a.active {
  background-color: var(--color-active);
  color: white;
}
