.orderlist-container {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 250px; /* Ширина бічної панелі */
    background-color: #222; /* Темніший фон для контрасту */
    height: calc(100% - 60px); /* Висота на всю сторінку, за винятком висоти topbar */
    position: fixed; /* Фіксоване положення */
    top: 60px; /* Відстань від верху (висота topbar) */
    left: 0; /* Відстань від лівого краю */
    display: flex; /* Використовуємо flexbox */
    flex-direction: column; /* Вирівнювання елементів вертикально */
    align-items: flex-start; /* Вирівнювання по лівому краю */
    padding-top: 20px; /* Внутрішній відступ зверху */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Тінь для глибини */
}

.sidebar ul {
    list-style-type: none; /* Вимикаємо маркери списку */
    margin: 0; /* Немає зовнішніх відступів */
    padding: 0; /* Немає внутрішніх відступів */
    width: 100%; /* Займає всю ширину бічної панелі */
}

.sidebar li {
    margin: 15px 0; /* Відстань між елементами списку */
    width: 100%; /* Займає всю ширину для покращення клікабельності */
}

.sidebar a {
    color: white; /* Колір тексту */
    text-decoration: none; /* Без підкреслення */
    font-size: 18px; /* Розмір шрифту */
    padding: 10px 20px; /* Внутрішні відступи */
    display: block; /* Перетворюємо посилання в блочний елемент */
    transition: background-color 0.3s; /* Анімація зміни кольору фону */
}

.sidebar a:hover {
    background-color: #575757; /* Колір фону при наведенні */
    border-radius: 5px; /* Закруглені кути */
}

