.sneakerlist-container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 250px;
  background-color: #222;
  height: calc(100% - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar li {
  margin: 15px 0;
  width: 100%;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
  border-radius: 5px;
}
